.card {
  width: 300px;
  border: 0;
  background-color: white;
  background: white;
  padding: 10px;
}

.image {
  display: block;
  margin: 10px 0;
  border: 0;
}

.tag {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #c0143c;
  line-height: 22px;
  min-height: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.brand {
  line-height: 27px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 2px;
}

.details {
  margin:0;
  line-height: 27px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  color: #000000;
  font-size: 24px;
}


.name:after {
  content: ","
}

.original-price {
  color: inherit;
  white-space: nowrap
}

.sale-price {
  display: none;
  white-space: nowrap
}



